<section class="container mx-auto grid grid-cols-2 gap-6 my-4" data-controller="order">
  <div class="flex flex-col">
    <%= render "site/order/personal_data" %>  
    <%= render "site/order/address_data" %>
    <%= render "site/order/payment_data" %>
  </div>
</section>